/ppmtool-react-client/node_modules
/ppmtool-react-client/.vscode
/ppmtool-react-client/build
/project_management_tool/.classpath
/project_management_tool/target/
/project_management_tool/.settings
/project_management_tool/.project
